REQUEST_TOKEN_URL="REQUEST TOKEN ENDPOINT URL"
AUTHORIZE_URL="AUTHORIZE ENDPOINT URL"
ACCESS_TOKEN_URL="ACCESS TOKEN ENDPOINT URL"
CONSUMER_KEY="YOUR CONSUMER KEY"
CONSUMER_SECRET="YOUR CONSUMER SECRET"
PARAMS="ADDITIONAL PARAMETERS"
VERBOSE="yes"